<mat-list>
  <mat-list-item><button mat-button (click)="getDetails('CIVIL')">CIVIL</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-button (click)="getDetails('EEE')">EEE</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-button (click)="getDetails('MECH')">MECH</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-button (click)="getDetails('ECE')">ECE</button></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><button mat-button (click)="getDetails('CSE')">CSE</button></mat-list-item>
</mat-list>