

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    
    <ng-container matColumnDef="BranchCode">
      <th mat-header-cell *matHeaderCellDef> BRANCH CODE || </th>
      <td mat-cell align="center" *matCellDef="let sub" > {{sub.BranchCode}} </td>
    </ng-container>


    <ng-container matColumnDef="SubCode">
      <th mat-header-cell *matHeaderCellDef> SUB CODE || </th>
      <td mat-cell align="center" *matCellDef="let sub"><a mat-tab-link routerLink="#">{{sub.SubCode}}</a></td>
    </ng-container>

    <ng-container matColumnDef="SubName">
      <th mat-header-cell *matHeaderCellDef> SUB NAME || </th>
      <td mat-cell align="center" *matCellDef="let sub"> {{sub.SubName}} </td>
    </ng-container>

    <ng-container matColumnDef="Credits">
        <th mat-header-cell *matHeaderCellDef> CREDITS || </th>
        <td mat-cell align="center" *matCellDef="let sub"> {{sub.Credits}} </td>
      </ng-container>

      <ng-container matColumnDef="YearNo">
        <th mat-header-cell *matHeaderCellDef> YEAR || </th>
        <td mat-cell align="center" *matCellDef="let sub"> {{sub.YearNo}} </td>
      </ng-container>

      <ng-container matColumnDef="SemNo">
          <th mat-header-cell *matHeaderCellDef> SEM </th>
          <td mat-cell align="center" *matCellDef="let sub"> {{sub.SemNo}} </td>
        </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>