<div>
    <form>
        <table *ngFor="let p of Details | async">
            <div class="first">
                <tr>
                    <td>First Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.FirstName" name="FirstName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Last Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.LastName" name="LastName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
            </div>
            <div class="third">
                <button mat-raised-button color="primary" name="edit" (click)="editDetails()">EDIT</button>
            </div>
            <div class="fourth">
                <button mat-raised-button color="primary" name="submit"
                    (click)="SubmitDetails(user.UserName)">SUBMIT</button>
            </div>
        </table>
    </form>
</div>
