<mat-card>

    <button mat-button routerLink="/personal"><h3>Personal Details</h3></button>
    <button mat-button routerLink="/qualification"><h3>Qualification Details</h3></button>
    <button mat-button routerLink="/contact"><h3>Contact Details</h3></button>
    <button mat-button routerLink="/#"><h3>Country Details</h3></button>

</mat-card>