<!--
<div>
    <form>
        <table *ngFor="let p of PersonalDetails | async">
            <div class="first">
                <tr>
                    <td>First Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.FirstName" name="FirstName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Last Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.LastName" name="LastName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
            </div>
            <div class="third">
                <button mat-raised-button color="primary" name="edit" (click)="editDetails()">EDIT</button>
            </div>
            <div class="fourth">
                <button mat-raised-button color="primary" name="submit"
                    (click)="SubmitDetails(user.UserName)">SUBMIT</button>
            </div>
        </table>
    </form>
</div>
-->

<div class="personal">
    <form>
        <table *ngFor="let p of PersonalDetails | async">

            <div class="first">

                <tr>
                    <td>First Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.FirstName" name="FirstName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Last Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.LastName" name="LastName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> User Name</td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.UserName" name="UserName" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Gender </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.Gender" name="Gender" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> DOB </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.DOB" name="DOB" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Village </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.Village" name="Village" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>

            </div>

            <div class="second">

                <tr>
                    <td> State </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.State" name="State" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Country </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.Country" name="Country" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td> Marital Status </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.MaritalStatus" name="MaritalStatus" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Email </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.Email" name="Email" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Fb Id </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.FbId" name="FbId" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td> Twitter Id </td>
                    <td>
                        <mat-form-field>
                            <input matInput [(ngModel)]="p.TwitterId" name="TwitterId" [readonly]="isReadonly">
                        </mat-form-field>
                    </td>
                </tr>

            </div>
            <div class="third">
                <button mat-raised-button color="primary" (click)="editDetails()">EDIT</button>
            </div>
            <div class="fourth">
                <button mat-raised-button color="primary" name="submit"
                    (click)="SubmitDetails(UserName)">SUBMIT</button>
            </div>
        </table>

    </form>
</div>